    /* @media Rule */
	    @media all and (max-width: 800px) {
			div#Logo p{
			padding:0 0 10px 10px;
			margin:0;
			display:block;
				}

		}
	
   		@media all and (max-width: 480px) {
			div#Pesquisa {
				margin:0;
				padding:10px 0 0 0;
				float:right;
				}
			.row_two_col {
				display:block;
				padding:0 0 5px 0;
				}
		}
		
   		@media all and (max-width: 768px) {
			div.MenuTop {
				float:left;
				width:100%;
				}
		}




@media only screen and (max-width:360px), 
and (min-device-width: 360px) 
and (max-device-width: 1024px) {
	
		/* Force table to not be like tables anymore */
		#Table table table, thead, tbody, th, td, tr { 
			display: block; 
			
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		#Table table thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		#Table table tr { border-bottom: 1px solid #00a4e8; }
		
		#Table table td { 
			/* Behave  like a "row" */
			border: none;
			border: 0px solid red; 
			position: relative;
			padding-left: 38%; 
			text-align:left;
		}

		#Table table :before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			padding-right: 10px; 
			white-space: nowrap;
			}
		
		/*
		Label the data
		*/
		#Table table  td:nth-of-type(1):before { content: "Estado"; }
		#Table table  td:nth-of-type(2):before { content: "Nº Processo"; }
		#Table table  td:nth-of-type(3):before { content: "Tipo de Processo"; }
		#Table table  td:nth-of-type(4):before { content: "Data Inicial"; }
		#Table table  td:nth-of-type(5):before { content: "Entidade"; }
		#Table table  td:nth-of-type(6):before { content: "Assunto"; }
		#Table table  td:nth-of-type(7):before { content: "Etapa"; }
		#Table table  td:nth-of-type(8):before { content: "Enviado por"; }
		#Table table  td:nth-of-type(9):before { content: "Origem do Processo"; }
		#Table table  td:nth-of-type(10):before { content: "Assignado"; }
		}
		
@media only screen and (max-width:768px), 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
	#Table table th { 
		background: #c1cd1d; 
		color: white; 
		font-weight: normal; 
		white-space:normal;
		}
	}

@media only screen and (max-width:768px), 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
	
		form#nav div input[type=text] {
			display:block;
			width:100%;
			}
			
		form#nav div.FormCellLeft {
			width:100%;
			float:left;
			}
		form#nav div.FormCellLeft label {
			width:100%;
			text-align:left;
			}
		div.FormRow label {
			text-align:left;
			width:auto;
			}
		div.FormRow div.FormCellLeft {
			width:100%;
			display:block;
			margin:0 0 10px 0;
			
		
			}
		div.FormRow div.FormCellRight {
			width:100%;
			display:block;
			
		
			}
		}
		
		
