	/* 
	Generic Styling, for Desktops/Laptops 
	*/
    div.Table table {
		width: 100%; 
		border-collapse: collapse; 
		font-size: 0.625em;
		}

    div.Table table  tr:nth-of-type(odd) {
		background: #eee;
		}
    div.Table table  tr:nth-of-type(even) {
		background: #eee;	 
		}
    div.Table table tr.no_read {
		font-weight:bold;
		}
    div.Table table tr td a {
		display:block;
		height:100%;
		width:100%;
				}
    div.Table table th {
		background: #c1cd1d; 
		color: white; 
		font-weight: normal; 
		white-space:nowrap;
		}
    div.Table table td, th {
		padding: 6px; 
		border-right:1px solid white;
		border-bottom:1px solid white;
		
		}
    div.Table table tr:hover { background: #e8e8e8; }
    div.Table table td:last-child,
    div.Table table th:last-child {
   		 border-right: none;
	 	}

    div.Table table th:first-child,
    div.Table table td:first-child {
		border-left: none;
		}


	.sortable {
	    background-image: url("../images/sorter_bg.png") !important;
	    background-position: right center !important;
	    background-repeat: no-repeat !important;
	    cursor: pointer !important;
	}
	
	.sortable-asc {
	    background-image: url("../images/sorter_asc.png") !important;
	    background-position: right center !important;
	    background-repeat: no-repeat !important;
	    cursor: pointer !important;
	}
	
	.sortable-desc {
	    background-image: url("../images/sorter_desc.png") !important;
	    background-position: right center !important;
	    background-repeat: no-repeat !important;
	    cursor: pointer !important;
	}