body { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none }
td { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none }
th { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #FFFFFF }
.extrasmall { font-size: xx-small }
.background {  background-image: url(../images/ima-envelope.jpg); background-repeat: no-repeat; background-position: left top}
.texto {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none}
.titulo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #b10006 }
.textolink { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #aa2222; text-decoration: underline}
.botoes { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: none }
.textolinkbranco { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #FFFFFF}

.TituloBranco {
	font-family: "Bauhaus Md BT";
	font-size: 12px;
	color: #FFFFFF;
}
.TituloAzul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #00285d;
}
.SubTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #00285d;
}
.Sinopse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 00285D;
}
.TextoBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 00285D;
	font-weight: bold;
}
a.TextoBold:HOVER{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 00285D;
	font-weight: normal;
	text-decoration: underline;
}

a.Menu:HOVER{
	text-decoration: underline
}
a.Menu{
	text-decoration: none
}

.TextoItalico {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: 00285D;
}
.TextoBranco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.TextoVermelho {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: EF3E33;
}
.TextoVermelhoBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: EF3E33;
}
.TextoCinza {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: gray;
}
.TextoCinzaBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	color: gray;
}
.TextoHeader {
	font-family: "Bauhaus Lt BT";
	font-size: 12px;
	color: #00204e;
}

.Link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7f93ae;
}
.FundoTab {
	background-image: url(../images/linhafundo.gif);
	background-repeat: repeat-y;
}
.TextoStandard {
	FONT-SIZE: 1.0em;
	LINE-HEIGHT: 150%;
	FONT-FAMILY: Verdana;
	mso-bidi-font-family: Arial
}
.TextoStandardBold {
	FONT-SIZE: 1.0em;
	LINE-HEIGHT: 150%;
	FONT-FAMILY: Verdana;
	font-weight: bold;
	mso-bidi-font-family: Arial
}
.imaglat {
	background-attachment: fixed;
	background-image: url(../images/home/imaglat00.jpg);
	background-repeat: no-repeat;
	background-position: 23px top;
}

.form370px {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		height: 15px;
		width: 370px;
		border: 1px solid #003800;
}
.form370withoutHeight {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		width: 370px;
		border: 1px solid #003800;
}
.form75px {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		height: 15px;
		width: 75px;
		border: 1px solid #003800;
}
.form75MultiSelect {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #E5EBE5;
		width: 75px;
		border: 1px solid #003800;
}
.form190px {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		height: 15px;
		width: 190px;
		border: 1px solid #003800;
}
.form150px {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		height: 15px;
		width: 150px;
		border: 1px solid #003800;
}
.form300px {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		height: 15px;
		width: 300px;
		border: 1px solid #003800;
}
.form370pxMultiline {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		color: #003800;
		background-color: #FFFFFF;
		width: 370px;
		border: 1px solid #003800;
}
*
{
	font-family: Helvetica, Verdana, Georgia;
}
.rebordoCinza
{
	border: 1px solid gainsboro; 
}

.rebordoCinzaFino
{
	border: 1px solid gainsboro; 
}

.kcms
{
	border: 1px solid black;
	font-size: 11px;
}

.loginItems
{
	color: gray;
	font-size: 11px;
}

.menuTop
{
	background: url(/PortalWeb/images/nav/empty.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

.menuTopHighlite
{
	background: url(/PortalWeb/images/nav/emptysel.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

.menuTop.link
{
	color: #777777;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}

.menuBottom
{
	background: url(/PortalWeb/images/nav/emptyBot.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

.saudacao
{
	color: #777777;
	font-size: 11px;
	
}

.gainsboroButton
{
	background: gainsboro;
	border: 0px;
	width: 50px;
	cursor: hand
}

.styledButton
{
	cursor: pointer;
	background-color: rgb(126, 75, 14);
	background-color: rgb(200, 75, 75);
	border-style: groove;
	color: white;
	text-align: center;
	font-size:11px;
}

.form75px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #003800;
	background-color: #FFFFFF;
	height: 15px;
	width: 75px;
	border: 1px solid #003800;
}
.absBottom {
	vertical-align: text-bottom;
}

.linkNavPrincipalPesquisa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color:#003800;
	font-weight: bold;
	text-decoration: none;
}

.hidden {
	display: inherit;
}

div.row {
	clear: both;
	padding-top: 0px;
  }

div.rowlevel1 {
	clear: both;
	padding-top: 0px;
	padding-left: 15px;
  }

div.rowlevel2 {
	clear: both;
	padding-top: 0px;
	padding-left: 30px;
  }

div.rowlevel3 {
	clear: both;
	padding-top: 0px;
	padding-left: 45px;
  }

div.rowhidden {
	clear: both;
	padding-top: 0px;
	display: none;
  }

div.row span.formw {
	float: left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width: 600px;
	text-align: left;
  } 

div.row span.formwlimited {
	float: left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width: 100px;
	position: static;
	text-align: left;
  } 

div.row span.headericon {
	float: left;
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	width: 10px;
	text-align: left;
	vertical-align: bottom;
  }
  
div.row span.column {
	float: left;
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	text-align: left;
	vertical-align: bottom;
  } 

div.row span.header {
	float: left;
	margin:4px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	width: 130px;
	text-align: left;

  } 

div.row span.radio {
	float: left;
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	width: 130px;
	text-align: left;

  } 

div.row span.radio input{
	width: 10px;
  } 

div.row label.obriga {
	float: left;
	width: 32%;
	text-align: right;
  }
    
div.row span.titulo {
	float: left;
	margin:0px 0px 0px 5px;
	width: 50%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight:bold;
	color: #d89300;
}

	/* Start layout CSS */
	.tableWidget_headerCell,.tableWigdet_headerCellOver,.tableWigdet_headerCellDown{	/* General rules for both standard column header and mouse on header of sortable columns */
		cursor:pointer;	
		border-bottom:3px solid #c84b4b;
		/*border-right:1px solid #FFF;*/
		border-left:1px solid #FFF;	
		background-color: #c84b4b;
	}
	
	.tableWidget_headerCell{	/* Standard column header */
		border-top:2px solid #ECE9D8;
		color:#FFF;
	}
	
	.tableWigdet_headerCellOver{	/* Rollover on sortable column header */
		border-top:2px solid #FFF;		
	}
	.tableWidget tbody .tableWidget_dataRollOver{	/* Rollover style on mouse over (Data) */
		background-color:#FFF;	/* No mouseover color in this example - specify another color if you want this */
	}
	
	.tableWigdet_headerCellDown{
		border-top:2px solid #FFC83C;	
		background-color:#DBD8C5;
		border-left:1px solid #ACA899;
		border-right:1px solid #FFF;	
	}
	.tableWidget td{
		margin:0px;
		padding:2px;
		border-bottom:1px solid #EAE9E1;	/* Border bottom of table data cells */		
	}
	.tableWidget tbody{
		background-color:#FFF;
	}
	.tableWidget{
		font-family:arial;
		font-size:12px;	
		/*width:400px;*/
	}
		
	/* End layout CSS */
	
	
	div.widget_tableDiv {
		border:1px solid #ACA899;	/* Border around entire widget */
		height: 200px;
		overflow:auto;
		overflow-y:auto;
		overflow:-moz-scrollbars-vertical;
		/*width:400px;*/

	}
	
	html>body div.widget_tableDiv {
		overflow: hidden;
		/*width:400px;*/
	}

	.tableWidget thead{
		position:relative;
	}
	.tableWidget thead tr{
		position:relative;
		top:0px;
		bottom:0px;
	}
	
	.tableWidget .scrollingContent{
		overflow-y:auto;
		overflow:-moz-scrollbars-vertical;
		width:100%;

	}
/*
General CSS for the demos of DHTMLSuite
*/
body{
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:0.8em;
}

a { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000 }

pre{
	color:red;
}
h2{
	font-size:1.2em;
	}
	
#center{
	margin:5px;
}

#paginas{
	font-size:11px;
}

#paginas a:link, #paginas a:visited {
	color:#333;
	text-decoration: underline;
}

#paginas a:hover, #paginas a:active {
	color:#c84b4b;
	text-decoration: underline;
}

#logo{
	width:167px;
	height:65px;
}

hr {
	/*border:1px solid #c84b4b;*/
	border:0;
	color: #c84b4b;
	background-color: #c84b4b;
	height: 1px;
	width:100%;
}

.textbox100 {
	width:95%;
}

.textbox65{
	width:65%;
}

.textbox60 {
	width:57%;
}
.textbox50 {
	width:50%;
}

.textbox10 {
	width:10%;
}

table.tabela { /* Estilo para uma tabela especifica */
	background: #fff;
	border-bottom:#c84b4b;
}
th.tabela
  {
    font-size:11px;
    background-color:#c84b4b;
    color:white;
	height:15px;
	text-align:center;
  }
caption.tabela
  {
     color:#c84b4b;
	 font-size:12px;
	 font-weight:bold;
	 text-align:left;
	 height:22px;
  }
.tabela tr:hover {
	background-color: #EEE;
}

.dotimg
{
	display: none;
	cursor: hand;
}
	/* Start layout CSS */
	.tableWidget_headerCell,.tableWigdet_headerCellOver,.tableWigdet_headerCellDown{	/* General rules for both standard column header and mouse on header of sortable columns */
		cursor:pointer;	
		border-bottom:3px solid #c84b4b;
		/*border-right:1px solid #FFF;*/
		border-left:1px solid #FFF;	
		background-color: #c84b4b;
	}
	
	.tableWidget_headerCell{	/* Standard column header */
		border-top:2px solid #ECE9D8;
		color:#FFF;
	}
	
	.tableWigdet_headerCellOver{	/* Rollover on sortable column header */
		border-top:2px solid #FFF;		
	}
	.tableWidget tbody .tableWidget_dataRollOver{	/* Rollover style on mouse over (Data) */
		background-color:#FFF;	/* No mouseover color in this example - specify another color if you want this */
	}
	
	.tableWigdet_headerCellDown{
		border-top:2px solid #FFC83C;	
		background-color:#DBD8C5;
		border-left:1px solid #ACA899;
		border-right:1px solid #FFF;	
	}
	.tableWidget td{
		margin:0px;
		padding:2px;
		border-bottom:1px solid #EAE9E1;	/* Border bottom of table data cells */		
	}
	.tableWidget tbody{
		background-color:#FFF;
	}
	.tableWidget{
		font-family:arial;
		font-size:12px;	
		/*width:400px;*/
	}
		
	/* End layout CSS */
	

	div.widget_tableDiv {
		border:1px solid #ACA899;	/* Border around entire widget */
		height: 500px;
		overflow:auto;
		overflow-y:auto;
		overflow:-moz-scrollbars-vertical;

	}
	
	html>body div.widget_tableDiv {
		overflow: hidden;
	}

	.tableWidget thead{
		position:relative;
	}
	.tableWidget thead tr{
		position:relative;
		top:0px;
		bottom:0px;
	}
	
	.tableWidget .scrollingContent{
		overflow-y:auto;
		overflow:-moz-scrollbars-vertical;
		width:100%;

	}