.morada { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}
.moradaregiao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}
.moradaregiaoverm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #DD3E31;
}
.tituloshomepage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #DD3E31;
}
.tituloshomepage *{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #DD3E31;
}

A { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #FF0000}

.frasetitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #DD3E31;
}
.scroll {
	scrollbar-3dlight-color:#FFFFFF;
    scrollbar-arrow-color:#DD3E31;
    scrollbar-base-color:#FFFFFF;
    scrollbar-darkshadow-color:#FFFFFF;
    scrollbar-face-color:#EEEEEE;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-shadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF; 
}
.navegacao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.navegacao_underline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.spice_tab {
	font-family: MS Sans_serif, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.tranps {
	filter: Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=60, StartY=0, FinishX=100, FinishY=0);
}
SELECT { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1B2D42} 
INPUT { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1B2D42}
.formsize {
	height: 18px;
	width: 120px;
}
TEXTAREA { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #1B2D42}

.titulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
}
.textobold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.txt12bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.txt12normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.subtitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DD3E31;
}
.sinopse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.title10 {
	border: 1px solid silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #DD3E31;
}
.txt10normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.txt10bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
}
.txt10white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
}
.title9 {
	border: 1px solid silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #DD3E31;
}
.txt9normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}
.txt8normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: normal;
	color: #000000;
}
.txt7normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	font-weight: normal;
	color: #000000;
}

.table {
	border-width:1px;
	border-style:solid;
	border-color:gray;
	border-bottom-style:none;
	padding: 1px;
}

.tableHeader,th{
	font-family: Tahoma, Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align : center;
	color: #fff;
	background-color: gray;
	border-bottom-width:1px;	
	border-bottom-style:solid;
	border-bottom-color: gray;
	padding: 2px;
}

.line {
	font-family: Tahoma, Verdana;
	font-size: 10px;
	color: black;
	text-align : center;	
	background-color: #fff;
	border-bottom-width:1px;	
	border-bottom-style:solid;
	border-bottom-color: gray;
}


