*
{
	font-family: Helvetica, Verdana, Georgia;
}
.rebordoCinza
{
	border: 1px solid gainsboro; 
}

.rebordoCinzaFino
{
	border: 1px solid gainsboro; 
}

.loginItems
{
	color: gray;
	font-size: 11px;
}

.menuTop
{
	background: url(../images/nav/empty.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

.menuTop.link
{
	color: #777777;
	font-size: 8pt;
	font-weight: bold;
}

.menuBottom
{
	background: url(../images/nav/emptyBot.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.saudacao
{
	color: #777777;
	font-size: 11px;
	
}

.gainsboroButton
{
	background: gainsboro;
	border: 0px;
	width: 50px;
	cursor: hand
}

.styledButton
{
	cursor: pointer;
	background-color: rgb(126, 75, 14);
	background-color: rgb(200, 75, 75);
	border-style: groove;
	color: white;
	text-align: center
}