carta.tif
carta.tif.ocr
carta.tif.pdf
drcie.tif
drcie.tif.ocr
drcie.tif.pdf
edp.tif
edp.tif_1.tif
edp.tif_1.tif.ocr
edp.tif_2.tif
edp.tif_2.tif.ocr
edp.tif.ocr
edp.tif.pdf
ptelecom.tif
ptelecom.tif_1.tif
ptelecom.tif_1.tif.ocr
ptelecom.tif_2.tif
ptelecom.tif_2.tif.ocr
ptelecom.tif.ocr
ptelecom.tif.pdf
