.:
index.jsp
META-INF
resources
WEB-INF

./META-INF:

./resources:
css
images
js
Viewer_js

./resources/css:
estilos.css
forms.css
image_viewer.css
media.css
menu.css
table.css

./resources/images:
BG.png
icons
image_viewer
img_top.png
loading.gif
logo_AGORA.png
logo_sinfic.png

./resources/images/icons:
Ico_admin1.png
Ico_AGORA.png
Ico_config1.png
Ico_config2.png
Ico_enviar.png
Ico_Info.png
Ico_pesquisa1.png
Ico_sair1.png
Ico_sair2.png
Ico_user1.png
Ico_user2.png
setaClose.png
setaOpen.png

./resources/images/image_viewer:
image_viewer_bg.png
image_viewer_dark.gif
image_viewer_empty.gif
image_viewer_nextBtn.png
image_viewer_prevBtn.png

./resources/js:
image_viewer
jquery-1.10.2.js

./resources/js/image_viewer:
image_viewer.js
jquery-2.0.3.min.js
jquery.easing.1.3.js

./resources/Viewer_js:
example.local.css
images
index.html
ODFViewerPlugin.js
pdf.js
PDFViewerPlugin.css
PDFViewerPlugin.js
pdf.worker.js
PluginLoader.js
TextLayerBuilder.js
viewer.css
viewer.js
webodf.js

./resources/Viewer_js/images:
texture.png
toolbarButton-download.png
toolbarButton-fullscreen.png
toolbarButton-menuArrows.png
toolbarButton-pageDown.png
toolbarButton-pageUp.png
toolbarButton-presentation.png
toolbarButton-zoomIn.png
toolbarButton-zoomOut.png

./WEB-INF:
classes
dataaccess-config.xml
lib
mvc-dispatcher-servlet.xml
tiles-definitions.xml
views
web.xml

./WEB-INF/classes:
com
conf
gsdll32.dll
hibernate.cfg.xml
liblept168.dll
libtesseract302.dll
messages
tessdata

./WEB-INF/classes/com:
sinfic

./WEB-INF/classes/com/sinfic:
agora
ipdms

./WEB-INF/classes/com/sinfic/agora:
ocr

./WEB-INF/classes/com/sinfic/agora/ocr:
AgoraConfigProperties.class
controller
dao
entity
quartz
rest
service

./WEB-INF/classes/com/sinfic/agora/ocr/controller:
ProcessingController.class

./WEB-INF/classes/com/sinfic/agora/ocr/dao:
CheckInDAO.class
CheckInDAOImpl.class
DetailPageDocumentProcessingDAO.class
DetailPageDocumentProcessingDAOImpl.class
DocumentProcessingDAO.class
DocumentProcessingDAOImpl.class
DocumentTypeDAO.class
DocumentTypeDAOImpl.class
DocumentTypeFieldsDAO.class
DocumentTypeFieldsDAOImpl.class
DocumentTypeIdentifierDAO.class
DocumentTypeIdentifierDAOImpl.class
PageDocumentProcessingDAO.class
PageDocumentProcessingDAOImpl.class
ProcessingDAO.class
ProcessingDAOImpl.class
SequencesDAO.class
SequencesDAOImpl.class
VersionDetailPageDocumentProcessingDAO.class
VersionDetailPageDocumentProcessingDAOImpl.class
VersionDocumentProcessingDAO.class
VersionDocumentProcessingDAOImpl.class
VersionPageDocumentProcessingDAO.class
VersionPageDocumentProcessingDAOImpl.class
VersionProcessingDAO.class
VersionProcessingDAOImpl.class

./WEB-INF/classes/com/sinfic/agora/ocr/entity:
CheckIn.class
DetailPageDocumentProcessing.class
DocumentProcessing.class
DocumentType.class
DocumentTypeFields.class
DocumentTypeIdentifier.class
PageDocumentProcessing.class
Processing.class
Sequences.class
VersionDetailPageDocumentProcessing.class
VersionDocumentProcessing.class
VersionPageDocumentProcessing.class
VersionProcessing.class

./WEB-INF/classes/com/sinfic/agora/ocr/quartz:
CheckInJob.class
CheckInTask.class
TesseractJob.class
TesseractTask.class

./WEB-INF/classes/com/sinfic/agora/ocr/rest:
UploadFileRest.class

./WEB-INF/classes/com/sinfic/agora/ocr/service:
CheckInService.class
CheckInServiceImpl.class
DetailPageDocumentProcessingService.class
DetailPageDocumentProcessingServiceImpl.class
DocumentProcessingService.class
DocumentProcessingServiceImpl.class
DocumentTypeService.class
DocumentTypeServiceImpl.class
ExternalWSService.class
ExternalWSServiceImpl.class
PageDocumentProcessingService.class
PageDocumentProcessingServiceImpl.class
ProcessingService.class
ProcessingServiceImpl.class
TesseractService.class
TesseractServiceImpl$1WordTypeCount.class
TesseractServiceImpl.class

./WEB-INF/classes/com/sinfic/ipdms:
domain
integration
modules
services
webservices

./WEB-INF/classes/com/sinfic/ipdms/domain:
entity

./WEB-INF/classes/com/sinfic/ipdms/domain/entity:
dynamic

./WEB-INF/classes/com/sinfic/ipdms/domain/entity/dynamic:
dto

./WEB-INF/classes/com/sinfic/ipdms/domain/entity/dynamic/dto:
FieldInstanceDto.class
IndexedFieldInstanceDto.class
NotificationFormInstanceDto.class
ServicoOnlineDynamicInstancesDto.class
ServicoOnlineFormInstanceDto.class

./WEB-INF/classes/com/sinfic/ipdms/integration:
spring

./WEB-INF/classes/com/sinfic/ipdms/integration/spring:
ApplicationContextProvider.class
SpringAppContext.class

./WEB-INF/classes/com/sinfic/ipdms/modules:
dynamicform

./WEB-INF/classes/com/sinfic/ipdms/modules/dynamicform:
services

./WEB-INF/classes/com/sinfic/ipdms/modules/dynamicform/services:
dto

./WEB-INF/classes/com/sinfic/ipdms/modules/dynamicform/services/dto:
DynamicFieldRelationDTO.class
DynamicFieldTemplateDTO.class
DynamicFieldTemplateRelationDTO.class
DynamicFormTemplateDTO.class
DynamicGridLayoutDataDTO.class
DynamicGridLayoutDTO.class
DynamicGroupFieldDTO.class
DynamicLayoutDataDTO.class
DynamicLayoutDTO.class
DynamicLinearLayoutDataDTO.class
DynamicLinearLayoutDTO.class
DynamicValidatorDTO.class
FieldPropertyDTO.class
OptionValueDTO.class

./WEB-INF/classes/com/sinfic/ipdms/services:
entity

./WEB-INF/classes/com/sinfic/ipdms/services/entity:
dto

./WEB-INF/classes/com/sinfic/ipdms/services/entity/dto:
AbstractEntityDTO.class
servicoonline

./WEB-INF/classes/com/sinfic/ipdms/services/entity/dto/servicoonline:
SimpleDocumentoDTO.class

./WEB-INF/classes/com/sinfic/ipdms/webservices:
dynamic

./WEB-INF/classes/com/sinfic/ipdms/webservices/dynamic:
CreateDynamicProcessByIdExterno.class
CreateDynamicProcessByIdExternoResponse.class
CreateDynamicProcess.class
CreateDynamicProcessResponse.class
CreateForm.class
CreateFormResponse.class
DynamicFormWebService.class
DynamicFormWebServiceProxy.class
DynamicFormWebServiceService.class
DynamicFormWebServiceServiceLocator.class
DynamicFormWebServiceSoapBindingStub.class
GetAllDynamicForms.class
GetDynamicInstances.class
GetDynamicInstancesResponse.class
GetFormByIdExterno.class
GetFormByIdExternoResponse.class
GetFormByVariante.class
GetFormByVarianteResponse.class
GetForm.class
GetFormResponse.class
ServiceException1.class
UpdateForm.class
UpdateFormResponse.class

./WEB-INF/classes/conf:
agoraConfig.properties.template

./WEB-INF/classes/messages:
messages_en.properties
messages_pt.properties

./WEB-INF/classes/tessdata:
configs
eng.traineddata

./WEB-INF/classes/tessdata/configs:
api_config
digits
hocr

./WEB-INF/lib:
antlr-2.7.6.jar
aopalliance-1.0.jar
asm-3.1.jar
axis-1.4.jar
axis-jaxrpc-1.4.jar
commons-beanutils-1.8.0.jar
commons-collections-3.1.jar
commons-dbcp-1.4.jar
commons-digester-2.0.jar
commons-discovery-0.2.jar
commons-fileupload-1.2.2.jar
commons-io-1.3.2.jar
commons-logging-1.0.3.jar
commons-pool-1.5.4.jar
dom4j-1.6.1.jar
ghost4j-0.3.1.jar
hibernate-commons-annotations-3.2.0.Final.jar
hibernate-core-3.6.3.Final.jar
hibernate-jpa-2.0-api-1.0.0.Final.jar
itextpdf-5.4.5.jar
jackson-core-asl-1.6.4.jar
jackson-mapper-asl-1.6.4.jar
javassist-3.12.1.GA.jar
jcl-over-slf4j-1.5.8.jar
jersey-core-1.17.jar
jersey-multipart-1.17.jar
jersey-server-1.17.jar
jersey-servlet-1.17.jar
jna-4.0.0.jar
jstl-1.1.2.jar
jta-1.1.jar
mimepull-1.6.jar
mysql-connector-java-5.1.9.jar
quartz-1.8.6.jar
slf4j-api-1.6.0.jar
slf4j-simple-1.7.5.jar
spring-aop-3.0.5.RELEASE.jar
spring-asm-3.0.5.RELEASE.jar
spring-beans-3.0.5.RELEASE.jar
spring-context-3.0.5.RELEASE.jar
spring-context-support-3.0.5.RELEASE.jar
spring-core-3.0.5.RELEASE.jar
spring-expression-3.0.5.RELEASE.jar
spring-jdbc-3.0.5.RELEASE.jar
spring-orm-3.0.5.RELEASE.jar
spring-tx-3.0.5.RELEASE.jar
spring-web-3.0.5.RELEASE.jar
spring-webmvc-3.0.5.RELEASE.jar
standard-1.1.2.jar
Tess4j-1.2.jar
tiles-api-2.2.2.jar
tiles-core-2.2.2.jar
tiles-jsp-2.2.2.jar
tiles-servlet-2.2.2.jar
tiles-template-2.2.2.jar
wsdl4j-1.6.2.jar

./WEB-INF/views:
layout
processing.jsp
templates

./WEB-INF/views/layout:
mainTemplate.jsp

./WEB-INF/views/templates:
footer.jsp
header.jsp
menu.jsp
