/* Set the <html> and <body> element to full size and overflow to hidden
This is important for the script
*/
html {
	width: 100%; /* Full width and height */
	height: 100%;
	margin: 0px; /* No space between browser edge and content */
	padding: 0px;
	overflow: hidden; /* Overflow: hide content, i.e. now scrollbars */
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%; /* Full width and height */
	height: 100%;
	margin: 0px; /* No space */
	padding: 0px;
	background-color: #FFF; /* General <body> background color, White*/
}

.overflow {
	overflow: auto;
}

/** Custom css for each pane **/ /* ESTILOS DO HEADER */
	/* Custom css for the north pane */
#DHTMLSuite_pane_north {
	padding: 0px;
	border: none;
}

/* DIV esquerdo dentro do header */
#DHTMLSuite_pane_north .left {
	float: left;
}

/* DIV direito dentro do header  */
	/* Para o IPDMS base n�o este estilo .right n�o est� a ser utilizado */
#DHTMLSuite_pane_north .right {
	float: right;
	background-image: url(../../images/header/px-b7.gif);
	/* Imagem do pixel do header */
	background-repeat: repeat-x;
	width: 100%;
	height: 77px;
}

/* DIV da barra horizontal por baixo do header  */
#DHTMLSuite_pane_north .barraTopo {
	clear: both;
	background: #3A3636 !important;
	height: 21px;
	padding-right: 10px;
	padding-top: 12px;
	font-size: 11px;
	color: #FFFFFF;
}

#DHTMLSuite_pane_north .barraTopo a:link,#DHTMLSuite_pane_north .barraTopo a:hover,#DHTMLSuite_pane_north .barraTopo a:active,#DHTMLSuite_pane_north .barraTopo a:visited
	{
	color: #FFFFFF;
	text-decoration: underline;
	background-color: transparent;
}

#DHTMLSuite_pane_north .barraTopoLeft {
	float: left;
	padding-left: 7px;
	color: white;
	font-size: 11px;
	margin-top: -8px;
	width: 60%;
}

#DHTMLSuite_pane_north .barraTopoLeftTexto {
	margin-left: 30px;
	margin-top: -17px;
}

#DHTMLSuite_pane_north .barraTopoRight {
	float: right;
	color: white;
	font-size: 11px;
	margin-top: 0px;
	background-color: transparent;
	/*width:60%;*/
}

/* DIV do breadcrumb no header  */
#DHTMLSuite_pane_north .breadcrumb {
	font-size: 11px;
	padding-left: 10px;
	padding-top: 3px;
}

/* ESTILOS DO LADO ESQUERDO (MENU) */ /* Custom css for the west pane */
#DHTMLSuite_pane_west {
	border-top: 1px solid #3A3636;
	border-bottom: 1px solid #3A3636;
	font-size: 11px;
	color: #21485D;
	line-height: 20px;
	width: 250px;
}

/* ESTILOS DO CENTRO */ /* Custom css for the center pane */
#DHTMLSuite_pane_center {
	border-top: 1px solid #3A3636;
	border-bottom: 1px solid #3A3636;
	overflow: hidden; /* Overflow: hide content, i.e. now scrollbars */
	border-right: none;
}

/* ESTILOS DO FOOTER */ /* Custom css for the south pane */
#DHTMLSuite_pane_south {
	border-left: 0px;
	background-color: #FFFFFF;
	border: none;
	height: 15px;
}

/* Css for pane content - the inner div where the content of a pane is located */
#DHTMLSuite_pane_south .DHTMLSuite_paneContent {
	font-size: 11px; /* Tamanho da font dentro do footer */
	
	border: 1px solid #eee;
}

/* DIV esquerdo dentro do footer */
#DHTMLSuite_pane_south .left {
	float: left;
	padding-left: 100px;
	padding-top: 10px;
	background-image: url(../../images/logo/logo-peq.jpg);
	/* Imagem do logo no footer */
	background-repeat: no-repeat;
	height: 36px;
}

/* DIV direito dentro do footer  */
#DHTMLSuite_pane_south .right {
	float: right;
	padding-top: 0px;
	margin-right: 5px;
	font-size: 9px;
}

#DHTMLSuite_pane_south .logo {
	margin-top: 0px;
	margin-left: 10px;
}

/* PARTS */ /* Footer */
#footer a:link,#footer a:visited,#footer a:hover,#footer a:active {
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

/* Alinhamento das imagens dos logos no footer */
.float {
	float: left;
	margin-left: 20px;
}

.float p {
	margin-top: 3px;
	text-align: center;
	font-size: 9px;
}

/* Linha horizontal de separa��o de conte�do */
HR {
	border: 1px solid #E7E8E9;
	width: 100%;
}

/* Headings */ /*H1 {
		font-weight:bold;
		font-size: 11px;
		color: #21485D;
		background-color: #3A3636;
		height:18px;
		padding-left:5px;
		padding-top:5px;
	}*/
H2 {
	font-weight: bold;
	font-size: 11px;
	color: #21485D;
	background-color: #E7E8E9;
	height: 18px;
	padding-left: 5px;
	padding-top: 5px;
}

.txt {
	padding: 0.5em 0px 0px 0.3em;
}

.txt H2 {
	font-size: 0.9em;
	font-weight: bold;
	COLOR: #0073C6;
	margin: 0em;
}

.txt H3 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 0.8em;
	MARGIN: 0em;
	COLOR: #0073c6;
}

.txt p {
	font-size: 0.7em;
	font-weight: normal;
	COLOR: #0073C6;
}

H3 a :link,H3 a :visited {
	font-weight: normal;
	COLOR: #878787;
}

H3 a :hover,H3 a :active {
	font-weight: normal;
	COLOR: #BE1B1C;
}

/* CSS HACK: only for NN4, so now use Caio hack to cleanse palette */
	/*printer styles*/
@media print { /*hide the left column when printing*/
	.column-one,.column-one-content {
		display: none;
	}
	.column-two {
		border: 0;
		width: 100%;
		float: none;
	}
}

/*********** MENU *************/ /* Caixa principal do menu */
#list-menu {
	margin-bottom: 10px;
	width: 99%;
	color: #000000;
	background-color: #E7E8E9;
	font-size: 11px;
}

ul#menuPrincipal1,ul#menuPrincipal1 li,ul#menuPrincipal1 ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 200px;
	list-style: none;
	background: #E7E8E9;
}

ul#menuPrincipal1 .tituloMenu {
	background: #3A3636;
	width: 100%;
	height: 23px;
	text-decoration: none;
}

ul#menuPrincipal1 .tituloMenuTexto,ul#menuPrincipal1 .tituloMenuTexto a:link,ul#menuPrincipal1 .tituloMenuTexto a:hover,ul#menuPrincipal1 .tituloMenuTexto a:visited,ul#menuPrincipal1 .tituloMenuTexto a:active
	{
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-top: 1px;
	display: block;
	margin-left: 3px;
}

ul#menuPrincipal1 .subMenu,ul#menuPrincipal1 .subMenu a:link,ul#menuPrincipal1 .subMenu a:visited
	{
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal1 .subMenu a:hover,ul#menuPrincipal1 .subMenu a:active,.subMenu a:hover,.subMenu a:active
	{
	text-decoration: underline;
	color: #3A3636;
}

ul#menuPrincipal1 .subMenu1 {
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal1 .subMenu1 a:link,ul#menuPrincipal1 .subMenu1 a:hover,ul#menuPrincipal1 .subMenu1 a:active,ul#menuPrincipal1 .subMenu1 a:visited
	{
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal2,ul#menuPrincipal2 li,ul#menuPrincipal2 ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 200px;
	list-style: none;
	background: #E7E8E9;
}

ul#menuPrincipal2 .tituloMenu {
	background: #3A3636;
	width: 100%;
	height: 23px;
	text-decoration: none;
}

ul#menuPrincipal2 .tituloMenuTexto,ul#menuPrincipal2 .tituloMenuTexto a:link,ul#menuPrincipal2 .tituloMenuTexto a:hover,ul#menuPrincipal2 .tituloMenuTexto a:visited,ul#menuPrincipal2 .tituloMenuTexto a:active
	{
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-top: 1px;
	display: block;
	margin-left: 3px;
}

ul#menuPrincipal2 .subMenu,ul#menuPrincipal2 .subMenu a:link,ul#menuPrincipal2 .subMenu a:hover,ul#menuPrincipal2 .subMenu a:visited,ul#menuPrincipal2 .subMenu a:active
	{
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal2 .subMenu1 {
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal2 .subMenu1 a:link,ul#menuPrincipal2 .subMenu1 a:hover,ul#menuPrincipal2 .subMenu1 a:active,ul#menuPrincipal2 .subMenu1 a:visited
	{
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal3,ul#menuPrincipal3 li,ul#menuPrincipal3 ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 200px;
	list-style: none;
	background: #E7E8E9;
}

ul#menuPrincipal3 .tituloMenu {
	background: #3A3636;
	width: 100%;
	height: 23px;
	text-decoration: none;
}

ul#menuPrincipal3 .tituloMenuTexto,ul#menuPrincipal3 .tituloMenuTexto a:link,ul#menuPrincipal3 .tituloMenuTexto a:hover,ul#menuPrincipal3 .tituloMenuTexto a:visited,ul#menuPrincipal3 .tituloMenuTexto a:active
	{
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-top: 1px;
	display: block;
	margin-left: 3px;
}

ul#menuPrincipal3 .subMenu,ul#menuPrincipal3 .subMenu a:link,ul#menuPrincipal3 .subMenu a:hover,ul#menuPrincipal3 .subMenu a:visited,ul#menuPrincipal3 .subMenu a:active
	{
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal3 .subMenu1 {
	color: #3A3636;
	text-decoration: none;
}

ul#menuPrincipal3 .subMenu1 a:link,ul#menuPrincipal3 .subMenu1 a:hover,ul#menuPrincipal3 .subMenu1 a:active,ul#menuPrincipal3 .subMenu1 a:visited
	{
	color: #3A3636;
	text-decoration: none;
}

.textoMenu a:link,.textoMenu a:visited {
	color: #3A3636;
	text-decoration: none;
}

.textoMenu a:active,.textoMenu a:hover {
	color: #D81921;
	text-decoration: underline;
}

.textoMenu1 a:link {
	color: #D81921;
	text-decoration: none;
	font-size: 11px;
}

.textoMenu1 a:visited {
	color: #D81921;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

.textoMenu1 a:active,.textoMenu1 a:hover {
	color: #D81921;
	text-decoration: underline;
	font-size: 11px;
}

.simboloMenu {
	color: #21485D;
	vertical-align: top;
	text-align: right;
	margin-top: -2px;
	height: 22px;
}

.simboloMenu1 {
	color: #D81921;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	margin-top: -2px;
	height: 22px;
}

/* FIM DOS ESTILOS PARA O MENU NOVO */ /* Cabe�alhos */
	/* Barra do titulo 1 �rea central */
.titulo1 {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #D81921;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 4px solid #FFFFFF;
}

/* Barra do titulo 2 �rea central */
.titulo2 {
	font-size: 11px;
	color: #000000;
	background-color: #E7E8E9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 4px solid #FFFFFF;
	font-weight:normal;
}

/* Barra dos titulos da Homepage */
.areaLogin {
	width: 100%;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #D81921;
	height: 23px;
	padding-left: 5px;
}

.tituloHomepage {
	font-size: 11px;
	color: #D81921;
	background-color: #E7E8E9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 4px solid #FFFFFF;
}

.titulo2Homepage {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #747575;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 4px solid #FFFFFF;
}

/* ESTILOS GERAIS */
table { /*	width:100%;*/
	
}

/* Para alinhar o bot�o de Eliminar por baixo das tabelas */
#alignRight {
	text-align: right;
	margin-top: 5px;
	position: relative;
	margin-right: 15px;
}

/* Para alinha o bot�o do criar novo por cima das tabelas */
.alignLeft {
	left: 100px;
	text-align: left;
	width: 90%;
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 11px;
	color: #21485D;
	height: 30px;
}

.alignLeft .left {
	float: left;
	width: 3%;
}

.alignLeft .right {
	float: left;
	margin-left: 10px;
	width: 95%;
}

.alignLeft .texto {
	font-weight: normal;
	text-decoration: none;
	margin-top: 5px;
}

.alignLeft .texto a:link,#alignLeft .texto a:hover,#alignLeft .texto a:visited,#alignLeft .texto a:active
	{
	text-decoration: underline;
	margin-top: 5px;
}

.texto {
	font-size: 11px;
	color: #3A3636;
}

.texto a:link,.texto a:visited,.texto a:hover,.texto a:active {
	font-size: 11px;
	color: #3A3636;
	text-decoration: underline;
}

.textoBold {
	color: #000000;
	font-weight: bold;
	margin: 0px;
	font-size: 11px;
}

.fontBold {
	font-weight: bold;
}

.tituloNoticias {
	margin-left: 15px;
	color: #D81921;
}

/* Estilo para um icone que tenha texto ao lado */
.iconeLink,iconeLink a:link,iconeLink a:hover,iconeLink a:active,iconeLink a:visited
	{
	font-size: 11px;
	color: #000000;
}

p {
	font-weight: normal;
	font-size: 11px;
}

BLOCKQUOTE {
	font-weight: normal;
	COLOR: #0073C6;
}

fieldset {
	color: #000000;
	border: 1px solid #D81921;
	clear: both;
	min-height: 100px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;	
	font-size: 11px;
}

fieldset  p {
	font-weight: normal;
	font-size:11px;
	padding: 0 0.2em 0.2em 1em;
}

legend {
	color: #D81921;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 0.4em;
	font-size: 11px;
}

legend a:link {
	color: #D81921;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 0.4em;
	font-size: 11px;
}

ul { /*list-style-type: disc;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #747575;
}

ul li a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #747575;
}

ul li a.error:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}

/* Estilo do texto quando a informa��o vem do sistema */
.textoBaseDados {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #83a4e1;
}

.cursorMao {
	cursor: pointer;
	border: none;
}

/* MAIN */
.Container {
	min-height: 150px;
	clear: both;
}

/* EXTRAS */
.padding10Left {
	padding-left: 10px;
}

/**** Barra de Titulo****/
.barraTitulo {
	font-weight: bold !important;
	font-size: 11px;
	color: #21485D !important;
	background-color: #3A3636;
	height: 23px;
	padding-left: 5px;
}

.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #000000;
}

.listaCinzenta {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cccccc;
	width: 30%;
	margin-left: 185px;
	margin-top: -13px;
}

.textoCinzento {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cccccc;
}

/* Texto de ajuda */
.info {
	color: #000000 !important;
	font-size: 11px;
	min-height: 5%;
	font-weight:bold;
}

* .info {
	margin-left: 0px;
}

.info a:link,.info a:visited {
	color: #000000;
	text-decoration: none;
}

* .info a:link,.info a:visited {
	padding-left: 10px;
}

.info a:hover,.info a:active {
	color: #000000;
	text-decoration: underline;
}

* .info a:hover,.info a:active {
	padding-left: 10px;
}

.info ul {
	margin-left: 30px;
}

.info li {
	list-style-image: url(../../images/icon/icon-seta.png) !important;
	list-style-type: none;
}

/* Caixa de erro */
.mensagenCaixa {
	background-color: #F5F6F6;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 3px;
	border:1px solid #eee;
}

* .mensagenCaixa {
	margin-left: 0px;
}

/* Mensagem de erro */
.mensagenErro1 {
	color: #ff0000;
	font-size: 11px;
	margin-left: 10px;
}

/* Mensagem dos campos mal preenchidos */
.mensagenErro2,.mensagenErro2 a:link,.mensagenErro2 a:hover,.mensagenErro2 a:active,.mensagenErro2 a:visited
	{
	color: #000000;
}

* .mensagenErro2,.mensagenErro2 a:link,.mensagenErro2 a:hover,.mensagenErro2 a:active,.mensagenErro2 a:visited
	{
	margin-left: 5px;
}

/* Estilo de tabela do layout grid dos forms dinamicos*/

/* novo estilo para tabelas do layout grid dos forms dinamicos*/

	table.dyncentro {
	border-collapse:collapse;
	border-color: #E7E8E9;
	border-width: 0 0px 0px 0px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363636;
	width: 100%;
	margin-top:5px;
	  }

	td.dyncentro{
		padding-left:0px;
		text-align:left;
		height:23px;	
		border-color: #E7E8E9;
    	border-width: 0px 0px 0 0;
    	border-style: solid;
   	 	margin: 0;
	  }



/* Estilos das tabelas */
table.centro {	
	border-collapse:collapse;
	border-color: #E7E8E9;
	border-width: 0 0px 1px 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363636;
	width: 100%;
	margin-top:5px;
}

caption{
	font-size: 11px;
	color: #FFFFFF;
	background-color: #777777;
	border-right:1px solid #777;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center !important;
}

/** table.centro {padding-left: 8px;}*/
th.centro {
	background: #cccccc;
	color: #363636;
	text-align: left;
	padding-left: 4px;
	height: 23px;
	font-weight: normal;
	border-color: #E7E8E9;
	border-width: 1px 1px 0 0px;
	border-style: solid;
	margin: 0;
}

.tituloTextoPeq {
	font-size: 9px;
}

td.segundaLinhaSubtitulo {
	
}

td.alignCenterSegundaLinhaSubtitulo {
	font-weight: normal;
	background: #E7E8E9;
	text-align: center;
	padding-left: 0px;
}

td.centro {
	padding-left: 3px;
	text-align: left;
	height: 23px;
	border-color: #E7E8E9;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
}

th.alignCenter {
	font-weight: normal;
	background: #cccccc;
	text-align: center;
	padding-left: 0px;
	border-color: #E7E8E9;
	border-width: 1px 0px 0 0;
	border-style: solid;
	margin: 0;
}

td.monetario {
	padding-left: 3px;
	text-align: right;
	height: 23px;
	border-color: #E7E8E9;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
}

td.alignCenter {
	text-align: center;
	border-color: #E7E8E9;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
}

td.extras {
	text-align: center;
	border-color: #E7E8E9;
	border-width: 1px 0px 0 0;
	border-style: solid;
	margin: 0;
}

td.centro a:link,td.centro a:hover,td.centro a:visited,td.centro a:active
	{
	background: transparent;
	text-decoration: underline;
	color: #363636;
	height: 23px;
	/*border-bottom:1px solid #E7E8E9;*/
}

.centro tr:hover {
	background: #E7E8E9;
	color: #363636;
}

.centro input,.centro select {
	border: 1px solid #CCCCCC;
}

.hoverTransparente {
	background: transparent !important;
}

/* TABELA COM VARIOS NIVEIS A ABRIR COM MAIS E MENOS PRIMEIRO N�VEL EM BRANCO SEGUNDO COM FUNDO CINZENTO O TERCEIRO A BRANCO */
td.linhaCinzenta {
	background-color: #E7E8E9;
}

td.linhaCinzentaAlignCenter {
	text-align: center;
	background-color: #E7E8E9;
}

td.linhaCinzentoTexto {
	font-weight: bold;
	background-color: #E7E8E9;
}

/* Linhas alternadas em cores diferentes */
.centro tr.even td {
	background-color: #eee;
}

.centro tr.odd  td {
	background-color: #fff;
}

/* Tabela que aparece dentro de outra para ver detalhes */
table.centroInner {
	background: #F5F6F6;
	border: 1px solid #D81921;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363636;
	width: 100%;
}

th.centroInner {
	color: #363636;
	text-align: left;
	padding-left: 3px;
	height: 23px;
}

td.centroInner {
	padding-left: 3px;
	text-align: left;
	height: 23px;
}

table.headings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363636;
	width: 100%;
}

/* Tabelas com inputs */
table.centroInputs {
	border: 1px solid #E7E8E9;
	font-size: 11px;
	color: #000000;
	width: 100%;
}

* table.centroInputs {
	padding-left: 8px;
}

th.centroInputs {
	background: #E7E8E9;
	color: #000000;
	text-align: left;
	padding-left: 3px;
	height: 23px;
	font-weight: normal;
}

td.centroInputs {
	padding-left: 3px;
	text-align: left;
	height: 23px;
}

/*
 *
 * WORKFLOW.CSS
 *
 */
	/* Usados nas listagens e para ser aplicacdas propriedadess listagens dos processos */
#worklist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
	border-collapse: collapse;
	empty-cells: show;
	color: #363636 !important;
	width: 100%;
	margin: 10px 0 10px 0 !important;
}

#worklist th {
	background: #CCCCCC;
	font-weight: normal;
	color: #363636;
	height: 23px;
	text-align: left;
	padding-left: 5px;
}

#worklist td {
	border: #E7E8E9 1px solid;
	height: 18px;
	padding-left: 5px;
}

#worklist td a:hover,#worklist td a:active,#worklist td a:link,#worklist td a:visited
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #363636;
	text-decoration: underline;
}

#worklist .tableFooter {
	border-right: none;
	border-bottom: none;
	border-left: none;
}

#worklist .alignCenter {
	text-align: center;
}

.worklist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
	border-collapse: collapse;
	empty-cells: show;
	color: #363636 !important;
	width: 100%;
	margin: 10px 0 10px 0 !important;
}

.worklist th {
	background: #CCCCCC;
	font-weight: normal;
	color: #363636;
	height: 23px;
	text-align: left;
	padding-left: 5px;
}

.worklist td {
	border: #E7E8E9 1px solid;
	height: 18px;
	padding-left: 5px;
}

.worklist td a:hover,#worklist td a:active,#worklist td a:link,#worklist td a:visited
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #363636;
	text-decoration: underline;
}

.worklist .tableFooter {
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.worklist .alignCenter {
	text-align: center;
}

.sortable a:link,.sortable a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #363636;
	text-decoration: none;
}

.sortable a:hover,.sortable a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #363636;
	text-decoration: underline;
}

.active-row {
	cursor: default;
	background-color: #E7E8E9 !important;
}

.clickableDisplayColumn {
	cursor: pointer;
}

.bodymensagem {
	font-size: 9px;
}

.atributosIpdmsDisplay {
	font-size: 9px;
}
/*
#result-pane label {
	font-size: 9px;
}

#result-pane * {
	font-size: 9px;
}*/

/* ESTILOS DOS RESULTADOS DE UMA PESQUISA � ANTERIOR 1 | 2 | 3 | SEGUINTE � */
.pagebanner {
	color: red;
	font-size: 9px;
}

/*span.pagebanner {
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-bottom: 10px;
	border-bottom: none;
	color:red;
	font-size:9px;
}

span.pagebannerBlack {
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-bottom: 10px;
	border-bottom: none;
	color:black;	
	font-size:9px;
}
*/
span.pagelinks {
	display: inline;
	color: black !important;
	margin-left: 10px;
	font-size: 9px;
}

span.pagelinks a:link,span.pagelinks a:visited,span.pagelinks a:active,span.pagelinks a:hover
	{
	display: inline;
	color: black !important;
	text-decoration: underline;
	font-size: 9px;
}

/* P�gina de resumo na tramita��o */
td.headline {
	font-size: 11px;
	color: #21485D;
	background-color: #E7E8E9;
	height: 23px;
	padding-left: 5px;
}

* td.headline {
	height: 23px;
}

/* breadcrumb dentro da caixa EXT */
.breadcrumbInterior {
	color: #363636;
	font-size: 11px;
}


/*
#DHTMLSuite_pane_south, .DHTMLSuite_pane_collapsed_south, #DHTMLSuite_pane_north, .DHTMLSuite_pane_collapsed_north, #DHTMLSuite_pane_west, .DHTMLSuite_pane_collapsed_west, 
.DHTMLSuite_paneSplitter_vertical, .DHTMLSuite_paneSplitter_onResize, 
DHTMLSuite_paneSplitter_vertical {
	display: none !important;
	}
*/