ul#Menu {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	z-index:3000;
	}

ul#Menu li {
	display:inline-block;
	line-height:15px;
	margin:0.5% 0.5% 0 0;
	padding:0;
	white-space:nowrap;
	}
	
ul#Menu li a{
	color:#555555;
	text-decoration:none;	
	padding:0.3em 0.5em;
	white-space:nowrap;
	display:inline-block;
	margin:0;
	}
ul#Menu li.here{
	color:#00a4e8;
	}	
ul#Menu li.here a{
	color:#00a4e8;	
	border-bottom:2px solid #00a4e8;
	}
ul#Menu li.here a:hover{
	color:#555555;	
	border-bottom:2px solid #00a4e8;

	}	

ul#Menu a:hover,
ul#Menu a.here:visited, ul#Menu a.here:link {
	color:#00a4e8;
	border-bottom:2px solid #00a4e8;
	padding:0.3em 0.5em;
	}
	/*Sub menu top*/
	ul#Menu li:hover ul{
		display:block;
		}
	
ul#Menu ul {
	display:none;
	position:absolute;
	margin:0;
	padding:0;
	margin:0px 0 0 0;
	z-index:3000;
	background-color:#EEE;
	border:0.1em solid #999;
	width:40%;
	}
ul#Menu ul li{
	display:block;
	margin:0;
	padding:0;
	line-height:15px;
	text-align:left;
	}

ul#Menu ul li a:hover{
 	border:0;

	}


/*Menu Tabs*/
nav ul#MenuTab {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	}

nav ul#MenuTab li {
	display:inline-block;
	line-height:25px;
	margin:0.5% 0 0 0;
	padding:0;
	white-space:nowrap;
	background:#00a4e8;
	border-bottom:2px solid #e8e8e8;
	}	
nav ul#MenuTab li.process {
	display:inline-block;
	line-height:25px;
	margin:0.5% 0 0 0;
	padding:0;
	white-space:nowrap;
	background:#00a4e8;
	border-bottom:2px solid #00a4e8;
	}	
nav ul#MenuTab li a{
	color:#555555;
	text-decoration:none;	
	padding:0.3em 0.5em;
	background:#e8e8e8;
	white-space:nowrap;
	display:inline-block;
	border-bottom:2px solid #e8e8e8;
	}
nav ul#MenuTab li.process a{
	color:#FFF;
	text-decoration:none;	
	padding:0.3em 0.5em;
	background:#00a4e8;
	white-space:nowrap;
	display:inline-block;
	border-bottom:2px solid #00a4e8;
	}

nav ul#MenuTab li.here{
	background:#fff;
	color:#00a4e8;
	}	
nav ul#MenuTab li.here a{
	background:#fff;
	color:#00a4e8;	
	border-bottom:2px solid #00a4e8;
	}
nav ul#MenuTab li.here a:hover{
	background:#FFF;
	color:#555555;	
	border-bottom:2px solid #00a4e8;
	}	

nav ul#MenuTab a:hover,
nav ul#MenuTab a.here:visited, ul#Menu a.here:link {
	background:#e8e8e8;
	color:#00a4e8;
	border-bottom:2px solid #00a4e8;
	}
/*Sub Menu*/
nav ul#SubMenuTab {
	list-style:none;
	margin:0;
	padding:10px 0;
	position:relative;
	background:#fff;


	}

nav ul#SubMenuTab li {
	display:inline;

	}	
nav ul#SubMenuTab li a{
	background:#e8e8e8;
	color:#555555;
	text-decoration:none;
	margin:0 0.5em 0 0.5em;
	padding:0.4em;
	display:inline;
	border:0.1em solid #ccc;
}

nav ul#SubMenuTab img#imgColapse_1 {
	border:0;
	}
