	p{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		vertical-align: text-top;
		
	}
	a{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
  color: #363636;
  	vertical-align: text-top;
	}
	
	.dhtmlgoodies_tree{
		margin:8px;
		padding:0px;
	}
	
	.dhtmlgoodies_tree ul{	/* Sub menu groups */
		margin-left:20px;	/* Left spacing */
		padding-left:0px;
		display:none;	/* Initially hide sub nodes */
	}
	.dhtmlgoodies_tree li{	/* Nodes */
		list-style-type:none;
		vertical-align:text-top;
		
	}
	.dhtmlgoodies_tree li a{	/* Node links */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
  color: #363636;
		text-decoration:none;
		padding-left:2px;
	}